/* --------------- GENERAL ------------------- */

body {
  background-color:#CCEBE6;
  font-family: 'Lato', sans-serif;
}
header {
  background-color:white;
  width: ;
  height: 80px;
  margin: -8px -8px 20px;
  padding-bottom: 10px;
}
.title {
  text-align: center;
  font-size: 48px;
  position:absolute;
  top:15%;
  left:50%;
  margin:-100px 0 0 -157px;
  padding-top: -5px;
}

/* --------------- GAME BOARD ------------ */

.container {
	height: 0 auto;
	width: 0 auto;

}
.boardArea /*thebox*/{
  width: 450px;
  position:absolute;
  z-index:15;
  top:40%;
  left:50%;
  margin:-100px 0 0 -150px;

}
.gameBoard {

}
.cells /*allcellsalways*/{
  color: #FFFCD3;
  text-align: center;
  font-size: 72px;
  float: left;
  width: 110px;
  height: 100px;
  background-color: #D55391;
  margin: 2px;
}

.Xplayer {
	background:url(images/ttt-x.jpg);
	background-repeat: no-repeat;
	pointer-events: none;
}

.Oplayer {
	background:url(images/ttt-o.jpg);
	background-repeat: no-repeat;
	pointer-events: none;
}

.hover {
  background-color: #FFFCD3;
}


